*{
    padding:0;
    margin:0;
}
body{
    color: white;
    background-image: url("../Images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:red;
    height: 8vh;
}
    input[type=text]{
        height:30px;
        width:80%;
    }
    input[type=submit]{
        height:30px;
        width:50%;
    }
  
