*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:red;
    padding: 2vh 0 ;
    height: 8vh;
}
.navbar-right-part{
    display:flex;
    width:10vw;
}
button{
    font-size: larger;
    margin:0% 10% 0% 0%;
    border-radius: 5px;
    padding:2% 2% 2% 2%;
}
button li{
    list-style: none;
}
.navbar ul{
    margin-right: 2%;
}