*{
    font-family: sans-serif;
    font-size: large;

}
.main-div{
    height: auto;
    width: 30vw;
    border: 5px solid #BCFFB9;
    margin: auto;
    margin-top: 15vh;
}
form{
    display: flex;
    flex-direction: column;
    background-color: #F7E6AD;
}
label{
    margin:2%;
    font-weight: bold;
}
input{
    margin-left:2%;
    padding:1%;
    width:93%;
    border-radius: 7px;
    border-color: #C1AC95;
}
input[type=submit]{
    margin:2%;
    width:96%;
}
p{
    margin-left:2%;
    font-weight:bold;
}
.error-message{
    color: red;
    margin-left: 2%;
}
.backend-error-message{
    color: red;
    margin-left: 2%;
}
.backend-success-message{
    color: green;
    margin-left: 2%;
}